html,
body,
.app {
  height: 100vh;
  padding: 1em;
  background-color: #eee;
}

.messages {
  min-height: 470px;
  max-height: 470px;
  overflow-y: scroll;
}

.msg_form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}
